.container{

  min-height: 100vh;
  width:100vw;
}


body{


  background-image:url(assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
   background-position: center;
  font-family: 'Poppins';
  line-height:1.1;
}

/* Nav Section  */
nav.navbar{
  position:absolute;
  top:0%;
  left:0;
  right:0;
background: #000;
  display:flex;
  align-items:center;
}
img.logo{
  margin-left:100px;
  margin-top:10px;
  width:100px;
}

.line{

  border-right: 1px solid #fff;
 margin-left:50px;
height: 40px;
}


.list{
  
  display:flex;
  justify-content: space-between;
  flex-direction: row;
 
  
}
.list-item{
  padding-left:60px;
  font-size: large;
  list-style-type: none;
  color:#fff;

}

img.arrow5{
width:15px;
}

button.button-small{

  margin-left:200px;

  background-color:#c11ecb;
        border:none;
        width:140px;
        height: 40px;
        border-radius:5px;
        color:rgba(255, 255, 255, 0.877);
        font-size:small;
        font-weight: bold;   
        cursor:pointer; 

}
/* media queries  for nav section*/

@media (max-width:1350px){


  .list-item{

    padding-left:40px
  }

  button.button-small{

    margin-left:100px;
  }
}

@media (max-width:1165px){

  button.button-small{

    margin-left:50px;
  }
}

@media (max-width:1075px){

  .list-item{

    padding-left:30px;
  }

  
}

@media (max-width:1025px){
img.logo{
  margin-left:30px;

  
}

.line{

  
margin-left:30px;
}

}
@media (max-width:930px){
  img.logo{
    margin-left:10px;
  
    
  }
  
  .line{
  
    
  margin-left:20px;
  }

  button.button-small{

    margin-left:20px;
  }
  
  }



@media(min-width:870px){
  div.menu{
      display:none;
  }
  }

  @media(max-width:870px){
    div.menu{
        display:block;
        color:#c11ecb;
        font-size:30px;
        cursor:pointer;
    }

    .line{

      display:none;
    }
    .list{

      display:none;
    }

    button.button-small{

      display:none;
    }

    nav.navbar{
      justify-content:space-around;
    }
    }
      


    /* hero section */
.hero{

  position:absolute;
  top:10%;
  left:30%;
  right:20%;
  
}
.hero-heading{
  font-size:450%;
  color:white;
  text-align:center;
  
}
.hero-description{

  color:#fff;
  position:absolute;
  top:75%;
  left:100px;
  font-size:x-large;

}
button.button-large{

  background-color:#c11ecb;
        border:none;
        border-radius:5px;
        width:300px;
        height: 50px;
        color:rgba(255, 255, 255, 0.877);
        font-size:large;
        font-weight: bold;
        margin-top:15px;
        position:absolute;
        left:200px;
        cursor:pointer;
  
}
/* media queries for hero section */


@media (max-width:1485px){

  .hero{

   
    left:20%;
   
    
  }
}

@media (max-width:1250px){

  .hero{

    
    left:10%;
   
    
  }
}

@media (max-width:1060px){

  .hero{

    
    right:10%;
   
    
  }
}

@media (max-width:955px){

  .hero{

    
    left:5%;
    right:5%;
   
    
  }
}

@media (max-width:830px){

  .hero-heading{
    font-size:400%;
    
    
  }
  button.button-large{
  
    
          width:250px;
    
  }
  
}



@media (max-width:735px){

  .hero{

    left:10%;
    top:20%;
  }
.hero-heading{

  font-size:300%;
}
  .hero-description{
  
    left:60px;
    font-size:large;
    
  
  }
  button.button-large{
  
    
          left:120px;
    
  }
}

@media (max-width:590px){

  .hero{

    left:2%;
    right:2%;
  }
.hero-heading{

  font-size:300%;
}
  .hero-description{
  
    left:60px;
    font-size:large;
    
  
  }
  button.button-large{
  
    
          left:120px;
    
  }
}

@media (max-width:525px){

  
.hero-heading{

  font-size:250%;
}
  .hero-description{
  
    left:40px;
    font-size:16px;
    
  
  }
  button.button-large{
  
        width:200px;
          left:80px;
    
  }


}

@media (max-width:450px){

  .hero{
    top:20%;
  }

  .hero-heading{
    font-size:200%;
  
  }
  .hero-description{

    font-size:13px;
  }
}